{% extends "base.html" %}

{% load static %}

{% block content %}
        <main>

    <!-- slider-area -->
    <section class="slider-area">
      <div class="slider-active">

      
        <div class="single-slider slider-bg" data-background="{% static 'img/slider/slider_bg.jpg' %}">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-5 col-lg-6 order-0 order-lg-2">
                <div class="slider-img" data-animation="fadeInRight" data-delay="1.2s">
                  <img src="{% static 'img/slider/GCmjUAMbFCXEPKIUcONqeUYEKAa.jpg' %}" alt="">
                </div>
              </div>
              <div class="col-xl-7 col-lg-6">
                <div class="slider-content">
                  <h5 data-animation="fadeInUp" data-delay=".3s">
                    Aksiýa                    </h5>
                  <h2 data-animation="fadeInUp" data-delay=".6s">
                    Täze ýyl baýramçylygy üçin sowgatlar                    </h2>
                  <br>
                                      <a href="product.php.html?id=234" class="btn" data-animation="fadeInUp" data-delay="1s">Купить</a>

                                    </div>
              </div>
            </div>
          </div>
        </div>

        
        <div class="single-slider slider-bg" data-background="{% static 'img/slider/slider_bg.jpg' %}">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-5 col-lg-6 order-0 order-lg-2">
                <div class="slider-img" data-animation="fadeInRight" data-delay="1.2s">
                  <img src="{% static 'img/slider/GSCnWeFmceAfakoWDRGsncoNjnu.jpg' %}" alt="">
                </div>
              </div>
              <div class="col-xl-7 col-lg-6">
                <div class="slider-content">
                  <h5 data-animation="fadeInUp" data-delay=".3s">
                    Aksiýa                    </h5>
                  <h2 data-animation="fadeInUp" data-delay=".6s">
                    Täze ýyl baýramçylygy üçin sowgatlar                    </h2>
                  <br>
                                    </div>
              </div>
            </div>
          </div>
        </div>

        
        <!-- <div
          class="single-slider slider-bg"
          data-background="img/slider/slider_bg.jpg"
          style="display:none"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-5 col-lg-6 order-0 order-lg-2">
                <div
                  class="slider-img"
                  data-animation="fadeInRight"
                  data-delay="1.2s"
                >
                  <img src="img/slider/slider_img02.png" alt="" />
                </div>
              </div>
              <div class="col-xl-7 col-lg-6">
                <div class="slider-content">
                  <h5 data-animation="fadeInUp" data-delay=".3s">
                    best deal !
                  </h5>
                  <h2 data-animation="fadeInUp" data-delay=".6s">
                    Smart TV Bracelet
                  </h2>
                  <br>
                  <a
                    href="shop-left-sidebar.html"
                    class="btn"
                    data-animation="fadeInUp"
                    data-delay="1s"
                    >Satyn al</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </section>
    <!-- slider-area-end -->


    <section class="special-offer-area theme-bg pt-60 pb-70">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center mb-50">
              <span class="sub-title">Выбрать товар по категории</span>
              <h2 class="title">Категории</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-container">
        <div class="row justify-content-center">

         
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php.html?cat=1">
                <img src="{% static 'img/categories/tn_384.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php.html?cat=1">Ruçkalar</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-1.html?cat=44">
                <img src="{% static 'img/categories/tn_%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA1.JPG' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-1.html?cat=44">Bokallar</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-2.html?cat=7">
                <img src="{% static 'img/categories/duvar-saatleri.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-2.html?cat=7">Sagatlar we sagatly bezegler</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-3.html?cat=43">
                <img src="{% static 'img/categories/tn_gaplamalar.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-3.html?cat=43">Gaplamalar</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-5.html?cat=40">
                <img src="{% static 'img/categories/tn_term%C4%B1os.JPG' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-5.html?cat=40">Termos</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-4.html?cat=29">
                <img src="{% static 'img/categories/tn_%D0%9B%D0%9E%D0%93%D0%9E-%D0%9E%D0%93%D0%A3%D0%97-%D0%9C%D0%90%D0%A5%D0%90%D0%91%D0%90%D0%A2.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-4.html?cat=29">Reklama üçin gerekli zatlar</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-6.html?cat=9">
                <img src="{% static 'img/categories/vip-hediyelik-setler.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-6.html?cat=9">VIP Sowgatlyk harytlar</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-7.html?cat=41">
                <img src="{% static 'img/categories/tn_brelok%20category.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-7.html?cat=41">Breloklar</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-8.html?cat=39">
                <img src="{% static 'img/categories/tn_kepkalar.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-8.html?cat=39">Kepkalar</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-9.html?cat=35">
                <img src="{% static 'img/categories/tn_pp.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-9.html?cat=35">Kagyzlar</a></h5>
            </div>
          </div>


          
          <div class="col-xl-3 col-lg-5 col-md-6">
            <div class="oguz-index-cat-box">
              <a href="categories.php-10.html?cat=34">
                <img src="{% static 'img/categories/tn_%D0%B2%D0%B8%D0%B7%D0%B8%D1%82%D0%BA%D0%B8.jpg' %}" class="img-fluid" style="width:100%; height:240px;" alt="">
              </a>
              <h5><a href="categories.php-10.html?cat=34">Wizitkalar</a></h5>
            </div>
          </div>


          


        </div>
      </div>
    </section>



  </main>

{% endblock  %}

{% block javaS %}
<script src="{% static 'js/vendor/jquery-3.5.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.odometer.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/ajax-form.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock javaS %}