{% extends "base.html" %}
{% load static %}

{% block content %}
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h3>{{product.title}}</h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">Товары</li>
                                        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'products:index' product.category.slug %}">Ruçkalar</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- shop-details-area -->
            <section class="shop-details-area pt-100 pb-100">
                <div class="container">
                    <div class="row mb-95">
                        <div class="col-xl-7 col-lg-6">
                            <div class="shop-details-nav-wrap">
                                <div class="shop-details-nav">

                                

                                </div>
                            </div>
                            <div class="shop-details-img-wrap">
                                <div class="shop-details-active">
                                    <div class="shop-details-img">
                                        <a href="#" class="popup-image"><img src="{{product.img.url}}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="shop-details-content">
                            <form method='post' action="">

                            <input type='hidden' name='code' value="26">

                                <!-- <span class="stock-info">Код: 26</span> -->

                                <h2>{{product.title}}</h2>
                                <br>
                                <div class="shop-details-price">
                                    <h2>{{product.price}} TMT</h2>
                                </div>

                                <div class="perched-info">
                                    <div class="cart-plus">
                                        <form action="#">
                                            <div class="cart-plus-minus">
                                                <input type="text" name="count" value="1">
                                            </div>
                                        </form>
                                    </div>
                                    <button type='submit' name="add" class="btn add-card-btn">добавить в корзину</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="product-desc-wrap mb-100">
                                <ul class="nav nav-tabs mb-25" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Характеристики продукта</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                                        <div class="product-desc-content">
                                            <div class="row">
                                                <div class="col-xl-9 col-md-8">
                                                {{product.description}}                                                     <pre>
        </pre>

{% endblock content %}